@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Entrar";
}

<div>
    <!--Inicio da secção de introdução interna -->
    <section class="introducao-interna interna_login">
        <div class="container">
            <h1 data-anime="400" class="fadeInDown">Criando uma nova conta</h1>
            <p data-anime="800" class="fadeInDown">Conheça mais sobre a nossa fábrica</p>
        </div>
    </section>
    <!--Final da secção de introdução-->
    <div class="container">
        <div class="grid-16">
            <section class="login_container">
                <form  asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="login_form grid-15 ">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-login">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-login" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-login">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-login" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-login">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="btn_login">
                        <button type="submit" class="btn btn-preto">Entrar</button>
                    </div>
                    <div class="form-login">
                        <div class="link">
                            <p>
                                <a asp-action="ForgotPassword">Esqueceu sua senha?</a>
                            </p>
                            <p>
                                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Registrar se como um novo usuário?</a>
                            </p>
                        </div>
                    </div>
                </form>
            </section>
        </div>


    
            <section class="service">

                <h4 data-anime="2000" class="fadeInDown">   Use outro serviço para fazer login.</h4>
                <br />
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>
                                Não há serviços de autenticação externos configurados. Consulte <a href="https://go.microsoft.com/fwlink/?LinkID=532715"> este artigo </a>
                                para obter detalhes sobre como configurar esse aplicativo ASP.NET para dar suporte ao logon através de serviços externos.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form data-anime="2000" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-service grid-15 fadeInDown">
                            <div class="btn_service">
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-preto" name="provider" value="@provider.Name" title="Faça login usando sua conta @provider.DisplayName "> @provider.Name </button>
                                    }
                                </p>

                            </div>
                        </form>
                    }
                }

            </section>
        </div>
    </div>




@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

