@model IEnumerable<DNA.Application.ViewModels.ClienteViewModel>

@{
    ViewData["Title"] = "Gerenciamento do Cliente";
}
<div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/img/home/introducao/introducao.jpg" alt="AGUAS MINERAIS" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <h1 data-anime="400" class="fadeInDown">Nossos refrigerantes</h1>
                <p data-anime="800" class="fadeInDown">Sempre escolhemos o melhor.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/carousel1.jpg" alt="REFRIGERANTES" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <h1 data-anime="6400" class="fadeInDown">Nossas bebidas</h1>
                <p data-anime="6800" class="fadeInDown">O preazer das coisas simples.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/carousel3.jpg" alt="todos so drinks" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <h1 data-anime="12600" class="fadeInDown">Nossas fontes naturais</h1>
                <p data-anime="12800" class="fadeInDown">As melhores coisas vem da simplicidades.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/carousel2.jpg" alt="REFRIGERANTES" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Simplicidade sempre
                </p>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- Final da introdução interna -->
<div class="cliente container">
    <table data-anime="1200" id="cliente_table" class="table grid-18 table_cliente fadeInDown">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn btn-preto">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes" class="btn btn-preto">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>

                        <a asp-action="Delete" asp-route-id="@item.Id" title="Deletar" class="btn btn-preto">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>

                        <button type="button" class="btn btn-preto historia " title="Historia" data-id="@item.Id" data-toggle="modal" data-target="#clienteHistory">
                            <span class="glyphicon glyphicon-time"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="call">
    <div class="btn_cliente">
        <a data-anime="2000" asp-action="Create" class="btn btn-preto fadeInDown">
            <span title="Registrar novo Cliente" class="glyphicon glyphicon-plus-sign"></span> Registrar Novo
        </a>
    </div>
</div>
</div>

<div class="modal fade" id="clienteHistory" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cliente Data History</h4>
            </div>
            <div class="modal-body">
                <p id="clienteHistoryData"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-preto" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


@section scripts
    {
    <script type="text/javascript">
        $(".viewbutton").on("click", function () {
            var clienteId = $(this).data('id');
            $.ajax({
                url: "https://localhost:44366/cliente-management/cliente-history/" + clienteId,
                url: "https://localhost:5001/cliente-management/cliente-history/" + clienteId,
                //url: "http://DNA_Developer.azurewebsites.net/cliente-management/clinete-history/" + clienteId,
                cache: false
            }).done(function (data) {
                var formatHtml = "<table class='table table-striped'>";
                formatHtml += "<thead><th>Action</th><th>When</th><th>Id</th><th>Nome</th><th>E-mail</th><th>DataNascimento</th><th>By User</th></thead>";

                for (var i = 0; i < data.length; i++) {
                    var change = data[i];
                    formatHtml += "<tr>";
                    formatHtml += "<td>" + change.action + "</td>";
                    formatHtml += "<td>" + change.when + "</td>";
                    formatHtml += "<td>" + change.id + "</td>";
                    formatHtml += "<td>" + change.nome + "</td>";
                    formatHtml += "<td>" + change.email + "</td>";
                    formatHtml += "<td>" + change.dataNascimento + "</td>";
                    formatHtml += "<td>" + change.who + "</td>";
                    formatHtml += "</tr>";
                }
                formatHtml += "</table>";
                $("#clienteHistoryData").html(formatHtml);
            });
        });
    </script>
}
