<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DNA.UI.Web</title>

    <environment include="Development">
        <link href="~/Content/css/normalize.css" rel="stylesheet" />
        <link href="~/Content/css/reset.css" rel="stylesheet" />
        <link href="~/Content/css/grid.css" rel="stylesheet" />
        <link href="~/Content/css/style.css" rel="stylesheet" />
        <link href="~/Content/css/sobre.css" rel="stylesheet" />
        <link href="~/Content/css/produto.css" rel="stylesheet" />
        <link href="~/Content/css/portfolio.css" rel="stylesheet" />
        <link href="~/Content/css/contato.css" rel="stylesheet" />
        <link href="~/Content/css/responsivo.css" rel="stylesheet" />
       
    </environment>
    <environment exclude="Development">
        <script>document.documenElement.classList.add("js")</script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
    <!-- Onde fica o logotipo e as configurações do menu -->
    <header class="header">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="grid-4">
                <img src="~/img/icones/dna-logo.svg" alt="DNA_Project">
            </a>

            <nav class="grid-12 header_menu">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Produto">Produtos</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Portfolio">Portfólio</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contato">Contatos</a></li>
                    <li><a asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a></li>
                </ul>
                @*@await Html.PartialAsync("_LoginPartial")*@
            </nav>
        </div>
    </header>
    <!-- Fim das configuraçõe do menu -->

    @RenderBody()
    <section class="quebra">
        <blockquote class="quote-externo container">
            <p>
                "O nosso verdadeiro compromisso é servir você,
                pois você sempre será nossa primeira opção..."
            </p>
            <cite>JOSÉ PAULO GALDINO</cite>
        </blockquote>
    </section>
    <!-- Fim da secção do footer quote -->
    <!-- Inicio do footer -->
    <footer>
        <div class="footer">
            <div class="container ">
                <div class="grid-7 footer_historia">
                    <H3>Nossa história</H3>
                    <p>
                        O verdadeiro segredo da felicidade está em ter um genuíno interesse por todos os detalhes da vida cotidiana cotidiana. interesse por todos os detalhes da vida cotidiana cotidiana.
                    </p>
                </div>
                <div class="grid-5 footer_contato">
                    <h3>Contato</h3>
                    <ul>
                        <li>- (19)98932-7757</li>
                        <li>- dnadevelopersoftware@gmail.com</li>
                        <li>- Rua Analândia, 474-São Joaquim</li>
                        <li>- CEP-13455-015</li>
                        <li>- Santa Bárbara d'Oeste-SP</li>
                    </ul>
                </div>
                <div class="grid-4 footer_redes">
                    <h3>Redes</h3>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/DNA-Developers-101197861382213/" target="blank">

                                <img src="~/img/home/footer/facebook.svg" />

                            </a>
                        </li>
                        <li>
                            <a href="http://instagram.com" target="blank">
                                <img src="~/img/home/footer/instagram.svg" />

                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com" target="blank">
                                <img src="~/img/home/footer/twitter.svg" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Div copy -->
        <div class="copy">
            <div class="container">
                <p>&copy; DNA Develor's Project @DateTime.Now.Year - Version 1.0  Todos os direitos reservados</p>
                <p>Developed by - <a href="http://jose.galdino4@fatec.sp.gov" target="_blank">José Paulo Galdino</a> - This is an open-source a Demoproject <a href="https://github.com/PauloGaldino/DNA_Developer-s" target="_blank">DNA Develper's GitHub</a></p>
            </div>
        </div>
    </footer>
    <!-- Fim do footer -->

    <environment names="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@
        <script src="~/js/simple-anime.js"></script>
        <script src="~/js/simple-slide.js"></script>
        <script src="~/js/script.js"></script>
    </environment>
    <environment names="Staging,Production">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>*@
        <script src="~/js/simple-anime.js"></script>
        <script src="~/js/simple-slide.js"></script>
        <script src="~/js/script.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    @RenderSection("css")
</body>
</html>


